body {
    font-family: "Arial", sans-serif;
}
section {
    text-align: left;
}
p{
    width: 900px;
}

.game--container {
    align-self: right;
    display: grid;
    grid-template-columns: repeat(var(--col, 1), 100px);
    grid-template-rows: repeat(var(--row, 1), 100px);
    grid-gap: 3px 3px;
    margin: 50px 50px;
}
.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 0px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
    text-align: center;
}

.navigator_old {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 60px;
    text-align: center;
    background-color: rgb(236, 243, 134);
}

#linesCanvas {
    position: absolute;
    padding: 60px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 2px solid #428bca;
    z-index: 100;
}
#containerCanvas {
    position: relative;
    top: 0;
    left: 0;
    margin: 20px;
}

