{% extends "layout.html" %}
{% block title%}
<title>Gobang | Home</title>
{% endblock %}

{% block content %}
<div class = "home">
    <h1>Project description</h1>
    <p>There are many variant of the k-in-a-row board game.
        Many of them are solved:
        <ul>
            <li>3-in-a-row on 3x3 board ==> draw (also known as Tic Tac Toe)</li>
            <li>4-in-a-row (and below) on infinite board ==> attacher win</li>
            <li>5-in-a-row on the 19x19 board ==> attacker win</li>
            <li>8-in-a-row (and above) on infinite board ==> defender win</li>
        </ul>
        There are many which are open now.
    </p>
    <p>
        A very interesting question is for the k-in-a-row games on infinite board,
        for which <math>k</math> the attacker has no winner strategy anymore.
        (Take care, a winner strategy on a finite board is not neccessarily a win strategy on infinite board).
        We know, that this <math>k</math> is below 8, and we conjecture, that it is even less than 7.
        This project's goal is to give a defender draw strategy for this case.
    </p>

    <h1>Concept</h1>
    <p>
        Our startegy is to reduce the problem to a finite board.
        We are looking for a special type of defender strategy: the defender is splitting the space into parts,
        and it moves only in that part of the space, where the attacker moves.
        In each part of the space the defeneder defines additional lines to the original 7-lines, 
        such that if the defender can cover all lines, it can cover all 7-lines in the original infinite board.
        For more information for this additional rules please visit the <a href="rules">Rules</a> page.
    </p>

    <h1>Source code</h1>
    <p>
        Please visit our <a href="https://github.com/doma945/prooving-gobang">github</a> page.
    </p>

    <h1>Results</h1>
    <ul>
        <li>4xk (k<=14) with "Csóka 1.0" rules ==> attacker win (<a href="play">play</a>)</li>
        <li>4x15, 4x16 with "Csóka 1.0" rules ==> attacker win (99%)</li>
    </ul>
</div>
{% endblock %}