{% extends "layout.html" %}
{% block title%}
<title>Gobang | Home</title>
{% endblock %}

{% block content %}
<div class = "home">
        <h1 class="game--title">Play</h1>
        <label for="board_size">Choose Board size:</label>
        <select id="board_size" onchange="create_board(this.value)">
            <option value="" selected disabled>Choose here</option>
            <option value="4x5x0">4x5</option>
            <option value="4x6x0">4x6</option>
            <option value="4x7x0">4x7</option>
            <option value="4x8x0">4x8</option>
            <option value="4x9x0">4x9</option>
            <option value="4x10x0">4x10</option>
            <option value="4x11x0">4x11</option>
            <option value="4x12x0">4x12</option>
            <option value="4x13x0">4x13</option>
            <option value="4x14x0">4x14</option>
            <option value="5x10xcoop1">5x10-cooperate</option>
        </select>
        <button class="game--restart">Restart Game</button>
        <button id="back_button" class="navigator"><</button>
        <button id="forward_button" class="navigator">></button>


        <div id="game--container">
        <div class="board--container" id="board"></div>
        <div class="row">
            <div class="column-left" id = "left_score" ></div>
            <div class="column-right" id = "right_score"></div>
        </div>
        </div>

        <p id="switch1">Attacker sign: O</p> 
        <p id="switch2">Defender sign: X</p>
        <button class="switch_players">Switch</button>
        <h1 id="last_warning"></h1>
</div>
{% endblock %}