{% extends "layout.html" %}
{% block title%}
<title>Gobang | Home</title>
{% endblock %}

{% block content %}
<div class = "home">
        <h1 class="game--title">Play</h1>
        <label for="board_size">Choose Board size:</label>
        <select id="board_size" onchange="create_board(this.value)">
            <option value="" selected disabled>Choose here</option>
            <option value="4x5">4x5</option>
            <option value="4x6">4x6</option>
            <option value="4x7">4x7</option>
            <option value="4x8">4x8</option>
            <option value="4x9">4x9</option>
            <option value="4x10">4x10</option>
            <option value="4x11">4x11</option>
            <option value="4x12">4x12</option>
            <option value="4x13">4x13</option>
            <option value="4x14">4x14</option>
        </select>
        <button class="game--restart">Restart Game</button>
        <button id="back_button" class="navigator"><</button>
        <button id="forward_button" class="navigator">></button>

        <div class="game--container" id="board"></div>

        <h2 class="game--status"></h2>

        <p id="switch1">Attacker sign: O</p> 
        <p id="switch2">Defender sign: X</p>
        <button class="switch_players">Switch</button>
        <h1 id="last_warning"></h1>
</div>
{% endblock %}